<div class="form-field form-field-engraving" data-product-attribute="input-text">
    <!--  Choose gift option  -->
    {{inject 'tooMuchSymbols' (lang 'forms.validate.common.too_much_symbols')}}
    {{inject 'unknowRestrictedSymbol' (lang 'forms.validate.common.unknow_restricted_symbol')}}
    <input class="myInput" type="radio" name="yesno" id="none">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="none">
        {{lang 'products.none'}}
    </label>

    <input class="myInput" type="radio" name="yesno" id="addEngraving">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="addEngraving">
        {{lang 'products.addEngraving'}}
    </label>

    <div id="inputAddEngraving">
        <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_text_{{id}}">
            {{ this.display_name }}
        </label>

        <input class=" form-input form-input--small" type="text" id="attribute_text_{{id}}" name="attribute[{{this.id}}]" value="{{this.prefill}}" {{#if required}}required{{/if}} {{#if max_length}}maxlength="{{max_length}}"{{/if}}>

    </div>
    <!--  Choose gift option  -->

</div>
